.App {
    text-align: center;
}

.card {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-position: 50% 50%;
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.cardfield {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.heart {
    cursor: pointer;
    ;
}

.delete {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.unliked {
    color: lightcoral
}

.liked {
    color: red;
}

.heart:hover {
    transform: scale(1.1);
}